.custom-accordion .p-accordion-content {
  background: var(--input-color);
  border-top: none;
  padding: 1rem;
}

.custom-header .p-accordion-header-link{
  background: var(--container-color) !important;
  color: var(--title-color) !important;
  border: none !important;
}

.custom-header .p-accordion-header-link:hover,
.custom-header.p-highlight .p-accordion-header-link{
  background-color: var(--primary-1) !important;
  color: var(--container-color) !important;
}
.custom-content .p-accordion-content{
  border: none !important;
}
.custom-accordion .p-accordion-content p {
  margin-bottom: 1rem;
  color: var(--text-color);
}

.custom-accordion .p-accordion-tab {
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.custom-content p {
  color: var(--text-color);
}
